.cell{
	border: 1px solid gray;
	position: absolute;
}
.snake{
	background-color: #afc;
	position: absolute;	
	border: 1px solid gray;
}
.food{
	background-color: #fcc;
	position: absolute;	
	border: 1px solid gray;
}
#btn{
	position: relative;
}
#score{
	position: relative;
}